* {
    background-image: url("http://www.pptback.com/uploads/abstract-red-black-lines-backgrounds-powerpoint.jpg");
}

h1 {
    text-align: center;
    font-weight: 800;
    color: white;
    font-size: 40px;
    
}

