* {
    background-image: url("http://www.pptback.com/uploads/abstract-red-black-lines-backgrounds-powerpoint.jpg");
}

h1 {
    text-align: center;
    font-weight: 800;
    color: white;
    font-size: 80px;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;

    
}

@-webkit-keyframes glowing {
    12.5% { background-color: #E51922; -webkit-box-shadow: 0 0 3px #B20000; }
    25% { background-color: #F58800; -webkit-box-shadow: 0 0 3px #B20000; }
    37.5% { background-color:  #FFF633; -webkit-box-shadow: 0 0 40px #FF0000; }
    50% { background-color: #57E519; -webkit-box-shadow: 0 0 3px #B20000; }
    62.5% { background-color:#3389FF; -webkit-box-shadow: 0 0 3px #B20000; }
    75% { background-color: #8D00E5; -webkit-box-shadow: 0 0 3px #B20000; }
    87.5% { background-color: #E51922; -webkit-box-shadow: 0 0 3px #B20000; }
    100% { background-color: #F58800; -webkit-box-shadow: 0 0 3px #B20000; }
  }


p {
    font-weight: 500;
    font-size: 40px;
    color: white;
    padding: 30px;
    background: black;
   
}

button {
    height: 45px;
    background-color: #004A7F;
    -webkit-border-radius: 20px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 40px;
    padding: 5px 10px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
    12.5% { background-color: #E51922; -webkit-box-shadow: 0 0 3px #B20000; }
    25% { background-color: #F58800; -webkit-box-shadow: 0 0 3px #F58800; }
    37.5% { background-color:  #FFF633; -webkit-box-shadow: 0 0 40px #FFF633; }
    50% { background-color: #57E519; -webkit-box-shadow: 0 0 3px #57E519; }
    62.5% { background-color:#3389FF; -webkit-box-shadow: 0 0 3px #3389FF; }
    75% { background-color: #8D00E5; -webkit-box-shadow: 0 0 3px #8D00E5; }
    87.5% { background-color: #E51922; -webkit-box-shadow: 0 0 3px #B20000; }
    100% { background-color: #F58800; -webkit-box-shadow: 0 0 3px #F58800; }
  }


